body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  /* overflow: hidden; */
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card__title {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.card__content {
  list-style-type: none;
  padding: 0;
}

.card__content li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card__content li:last-child {
  border-bottom: none;
}

.card__content li:hover {
  background-color: #f0f0f0;
}

.card__content li::before {
  content: "\2022";
  color: #007bff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.due-date {
  font-size: 0.8rem;
  margin-top: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.heading {
  margin-bottom: 20px;
}

.legend {
  margin-top: 20px;
  font-size: 0.9rem;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-item span {
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #007bff;
}

.wrapper {
  display: flex;
  list-style: none;
  height: 120px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 15px;
  right: 20px;
  justify-content: flex-end;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;

  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #ececec;
  color: #000000;
  font-size: 10px;
}

svg {
  margin-top: 7px;
}
